@charset "UTF-8";
/* CSS Document */

body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	margin: 0;
}
body {
	background-color: #EFEFEF;
	overflow: scroll;
}
h1,h2,h3
{
	font-family: MuseoSlab-500;
	text-align: center;
}
h1
{
	font-size: 2em;
}
h2
{
	font-size: 1.5em;
}
h3
{
	font-size: 1.25em;
}
a:link {
	color: #333;
}
a:visited {
	color: #360;
}
a:hover {
	color: #0F0;
}
a:active {
	color: #6F6;
}

a.subheaderLink{
	color: #FFFFFF;
}

a.subheaderLink:visited{
	color: #FFFFFF;
}

a.subheaderLink:hover{
	color: #CCCCCC;
}
p
{
	margin: 10px;
}
strong
{
	font-weight: bold;
}
table
{
	width: 520px;
	margin: 10px;
}
td {
	
	padding:4px;
	vertical-align: top;
}
.title
{
	padding: 10px;
}
.item{
	border-bottom: 1px #666666 solid;
	text-align: center;
}
.left
{
	text-align: left;
}
#top_nav
{
	border-bottom: 4px ridge white;
}
#top_nav li
{
	display: inline-block;
	background: #bdd158;
	border-radius: 8px 8px 0 0;
	padding: 5px 10px 5px 10px;
	box-shadow: inset 2px 2px 2px #ebffc4;
}
#top_nav li:hover
{
	background: #ebffc4;
}
#top_nav li a
{
	color: black;
	text-decoration: none;
	font-family: MuseoSlab-500;
	text-shadow: 1px 1px 2px #99B462;
}
.thename {
	text-align: center;
	font-family: MuseoSlab-500;
	color: #FFFFFF;
	padding: 4px;
	border-radius: 8px 8px 0 0;
	border-bottom: 0;
}
.headerText {
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
}
input,select {
	font-size: 12px;
	border: 1px #333 solid;
	background-color: #CCD6BA;
	padding: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input[type='submit']
{
	background-color: #669900;
	color: #FFF;
	font-weight: bold;
}

input[type='image']
{
	padding: 0px;
	border: none;
	background: none;
	vertical-align: middle;
}

.baseRow
{
	text-align: center;
	font-size: 11px;
	padding: 8px;
}