/* custom color assignments */
.b_white
{
	background: #ffffff;
}
.b_ds5-8
{
	background: #fff2be;
}
.b_ds22-3
{
	background: #fcba63;
}
.b_ds56-2
{
	background: #f37043;
}
.b_ds97-3
{
	background: #f15b5b;
}
.b_ds99-1
{
	background: #c41039;
}
.b_ds243-5
{
	background: #5cbcca;
}
.b_ds244-2
{
	background: #99b462;
}
.b_ds300-3
{
	background: #99b462;
}
.b_ds303-4
{
	background: #bdd158;
}
.b_pms659
{
	background: #749dd2;
}
.b_pms2726
{
	background: #4b63ae;
}
.b_Cool-Gray-6
{
	background: #babcbe;
}