#ibox { z-index: 1000000; }
#ibox_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index:1000000;
    /* we use a background image because mac firefox bugs */
    background: url('../images/bg.png');
}
#ibox_progress {
    position:absolute;
    z-index:1000001;
}
#ibox_wrapper {
    position:absolute;
    top:0;
    left:0;
    z-index:1000001;
    padding:25px 5px 5px 5px;
    width: 700px;
    background: #EFEFEF;
}
#ibox_content {
    z-index:1000002;
    overflow:auto;
    height:100%;
    position:relative;
    padding:2px;
}
#ibox_content object { display: block; }
#ibox_content .ibox_image { width: 100%; height: 100%; margin: 0; padding: 0; border: 0; display: block; }
#ibox_footer_wrapper a {
    float: right;
    display: block;
    outline: 0;
    margin: 0;
    padding: 0;
}
#ibox_footer_wrapper {
    position: absolute;
    top: 5px;
    right: 10px;
    left: 10px;
    white-space: nowrap;
    overflow: hidden;
}
#ibox_footer_wrapper { 
	font-weight: bold;
	background-color: #99b462;
	border: 1px #333 solid;
	border-radius: 8px;
	font-family: MuseoSlab-500;
	font-size: 14pt;
	text-shadow: #666666 -1px 1px 2px;
	color: #ffffff;
	-moz-border-radius: 8px;
	padding: 4px;
}
#ibox_footer_wrapper a {
    text-decoration: none;
    text-transform: lowercase;
    font-weight: normal;
    text-shadow: none;
    background: #f37043;
    border-radius: 4px;
    -moz-border-radius: 4px;
    color: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px;
}
#ibox_footer_wrapper a:hover {
    background: #fcba63;
}

/* this is the ibox container */
#ibox_wrapper {
    border:1px solid #ccc;
}

/* inner container */
#ibox_content {
    background-color:#fff;
    border:1px solid #666;
    padding: 4px;
}
#ibox_progress {
    width: 128px;
    height: 128px;
    background: url('../images/loading.gif') no-repeat;
}